html{
    scroll-behavior: smooth;
}
body{
    background-color:  aquamarine;
    margin: 0;
    width: 100%;
    height: 100%;
}
h1,
h2,
h3,
label,
div,
table{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    text-align: center;
    margin-top: -22px;
    position: relative; 
    background-color: aqua;
}
.b-main h2{
    font-size: 35px;
}
.b-div-task{
    font-size: 20px;
    padding: 10px 10px 10px 10px;
}
.b-button{
    background-color: darksalmon;
    border: none;
    color: black;
    padding: 15px 15px 15px 15px;
    margin: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.5s ease-out;
}
.b-button:hover{
    background-color: darkorange;
    cursor: pointer;
}
.menu-main{
    list-style: none;
    margin: 40px 0 5 px;
    padding: 25px 0 5px;
    text-align: center;
    background-color: rgb(184, 236, 184);
    color: black;
}
.menu-main li{
    display: inline-block;
}
.menu-main li:after{
    content: "|";
    color: black;
    display: inline-block;
    vertical-align: top;
}
.menu-main li:last-child:after{
    content: none;
}
.menu-main a{
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}
.menu-main a, .menu-main a:visited{
    color: #7e0f7e;
}
.menu-main a:hover{
    color: #67067a;
}
.menu-main a:before, .menu-main a:after{
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #67067a;
}
/* .menu-main a:hover:before, .menu-main a:after{


} */